<div class="card">
  <img
    *ngIf="product.images.length > 0"
    [src]="product.images[0]"
    width="100%"
    height="300px"
    class="img-responsive"
  >
  <img
    *ngIf="product.images.length <= 0"
    src="https://perfume10.worldsecuresystems.com/images/products/placeholder-product-image-large.png"
    [alt]="product.name"
    width="100%"
    height="300px"
    class="img-responsive"
  />
  <div class="card-body">
    <h5 class="card-title" style="cursor: pointer" (click)="onNavigate(product._id)">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
  </div>
</div>
