<div class="row">
  <div class="col-md-5 align-item-center">
    <img src="https://perfume10.worldsecuresystems.com/images/products/placeholder-product-image-large.png" alt="Product Image">
  </div>
  <div class="col-md-7">
    <h3>Product Details</h3>
    <hr>
    <p class="font-weight-normal">Product Name</p>
    <p class="font-weight-normal">Product Description</p>
    <p class="font-weight-normal">Price</p>
    <p class="font-weight-normal">Units</p>
    <div class="btn-actions">
      <button type="button" class="btn btn-primary mr-1">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>