<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" id="product-name" name="productName" class="form-control" />
      </div>
      <div class="form-group">
        <label for="product-description">Product Description</label>
        <textarea name="productDesc" id="product-description" rows="4" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="product-category">Product Category</label>
        <input type="text" name="productCategory" id="product-category" class="form-control" />
      </div>
      <div class="form-group">
        <label for="product-price">Product Price</label>
        <input type="number" name="productPrice" id="product-price" class="form-control" />
      </div>
      <div class="form-group">
        <label for="product-currency">Product Currency</label>
        <input type="text" name="productPrice" id="product-currency" class="form-control" />
      </div>
      <div class="form-group">
        <label for="product-warranty-details">Product Warranty Details</label>
        <input type="text" name="productWarrantyDetails" id="product-warranty-details" class="form-control" />
      </div>
      <div class="form-group">
        <label for="product-units">Product Units</label>
        <input type="text" name="productUnits" id="product-units" class="form-control" />
      </div>
      <div class="form-group">
        <label for="product-images">Product Name</label>
        <input type="text" name="productImages" id="product-images" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary mr-1">Add</button>
        <button class="btn btn-default">Cancel</button>
      </div>
    </form>
  </div>
</div>
